.password_field {
    float: right;
    margin: 10px 0 0 0;
    position: absolute;
    right: 40px;
    top: 22px;
}

#profile-image {
    position: relative;
    width: 164px;
    height: 164px;
    max-height: 160px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 34px;
}

#profile_pic_div {
    width: 100%;
    height: 100%;
    background-size: contain;
    /* border-radius: 50%; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#change-picture {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(12, 13, 14, 0.6);
    border: 0;
    border-radius: 0 0 3px 3px;
    color: #FFF;
    text-align: center;
    padding: 8px 0;
    width: auto;
    transition: background .3s ease;
}


@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    body {
        overflow-x: hidden;
    }
}

/** Component **/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fafbfe;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

.c_l {
    clear: left;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.cf:after,
.cf:before {
    display: table;
    content: ''
}

.cf:after {
    clear: both;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: #e9a22a;
    text-align: center;
}

.asterisk,
label.error {
    color: #f00 !important;
}

label.error {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    float: left !important;
}

td,
th {
    padding: 10px;
}

/*
table th {
    background-color: #e9a22a;
    color: #fff;
}

.datepicker-days table th {
    background-color: #fff;
    color: #000;
}


table tr td {
    vertical-align: middle;
}

.form-control:focus {
    border-color: #e9a22a;
    box-shadow: none;
}
*/


/*css*/

.head {
    text-align: center;
}

.logo {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.logo img {
    vertical-align: middle;
    max-width: 500px;
}

.form {
    padding: 25px 15px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -moz-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -ms-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -o-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
}

/*
.form-control {
    border: 0;
    border-bottom: 1px solid #CCC;
}
*/


/*
.change label {
    color: #e9a22a;
}
*/


/*
table .form-control {
    border: 1px solid #ccc;
}

.form-group label {
    float: right;
}
*/

.asterisk {
    float: right;
    display: inline-block;
}

.form-content {
    margin-top: 20px;
}


.form-content p {
    margin: 0 0 20px;
    line-height: 26px;
}

.form-content p .form-control {
    width: auto;
    display: inline-block;
    height: 25px;
    border-bottom: 2px solid #e9a22a;
}



.input-group .input-group-addon {
    background-color: #eee;
    width: 70px;
}

.btn-faith {
    padding: 10px 25px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #e9a22a;
    background-color: #e9a22a;
    color: #fff;
    border-radius: 0;
}

.btn-faith:hover,
.btn-faith:focus:active,
.btn-faith:hover:focus {
    background-color: #010101;
    border: 1px solid #010101;
    outline: none;
}

.remark label {
    float: left;
}

.signature-pad {
    border: 1px solid #ccc;
}

.btn.btn-faith {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

strong {
    font-family: 'Poppins', sans-serif !important;
}


.main-section {
    padding: 15px;
    background-color: #fff;
}

.content-wrapper,
.main-footer,
.main-header .navbar {
    margin-left: 0;
}

.main-footer {
    background-color: #E8A12C;
}



/*keenn-css*/


/** Main Content **/
.box {
    border-color: #e8a12c;
}

.content-wrapper {
    margin-left: 0;
}

.table-wrapper {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.main-section {
    padding: 15px;
    background-color: #fff;
}

.main-section > a:first-child {
    margin: 4px 10px;
}

.content-header {
    display: inline-block;
    width: 100%;
    padding: 15px 30px 0;
}

.content-header > .breadcrumb {
    right: 30px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/** End **/

/** Table **/
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    vertical-align: middle;
    padding: 10px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_processing {
    margin-bottom: 12px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 15px;
    color: #333;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 4px 5px;
    border: 1px solid #ddd;
}

table.dataTable tbody th:last-child > a,
table.dataTable tbody td:last-child > a {
    display: inline-block;
    width: auto;
    margin: 0 3px 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

table.dataTable tbody th:last-child > a:hover,
table.dataTable tbody td:last-child > a:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

/** Table action icon **/
.fa-eye::before,
.fa-question::before,
.fa-edit::before,
.fa-remove::before {
    display: none;
    content: '';
}

.fa-edit::after,
.fa-eye::after,
.fa-question::after,
.fa-remove::after {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../img/icon-edit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
}

.fa-eye::after {
    background-image: url('../img/icon-eye.png');
}

.fa-question::after {
    background-image: url('../img/icon-qus-edit.png');
}

.fa-remove::after {
    background-image: url('../img/icon-delete.png');
}

/* End */

/** Paginate **/
.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button {
    padding: 2px 10px;
    border: none !important;
    background: #444 !important;
    color: #fff !important;
}

.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    color: #fff !important;
}

.main-section .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.create-customer {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    box-shadow: none;
}

.form-group .datepicker {
    height: 34px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
    background: #E8A12C !important;
}

.input-group-addon:first-child {
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

span.validateError {
    position: absolute;
    top: auto;
    left: 15px;
    bottom: -18px;
    color: #f00;
    font-size: 12px;
}

.row-item {
    margin-bottom: 20px;
}

#social_media .sub-row-item,
#email_text .sub-row-item,
#no_profit .sub-row-item {
    margin-bottom: 20px;
}

.label-item > label {
    font-weight: normal;
}

.row-item > label,
.sub-row-item label {
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.row-item label a {
    color: #3d92e8;
    font-weight: 600;
    text-decoration: underline;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.row-item label a:hover {
    color: #e8a12c;
}

.row-item > input {
    font-weight: normal;
    font-size: 13px;
}

.sub-row-item input {
    width: 100%;
    padding: 6px 5px;
    border: 1px solid #ddd;
    font-weight: normal;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.social_checkbox label.input-label {
    display: inline-block;
    width: auto;
    margin-right: 25px;
    vertical-align: middle;
    line-height: normal;
}

.social_checkbox label.input-label input {
    margin-top: -3px;
    margin-right: 6px;
    vertical-align: middle;
}

.sub-row-item input,
.row-item > input,
#client_tabs1 {
    font-family: 'Poppins-Regular' !important;
}

#client_tabs1 .ui-state-active,
#client_tabs1 .ui-widget-content .ui-state-active,
#client_tabs1 .ui-widget-header .ui-state-active,
#client_tabs1 a.ui-button:active,
#client_tabs1 a.ui-button:focus,
#client_tabs1 a.ui-tabs-anchor:focus,
#client_tabs1 a.ui-tabs-anchor:active,
#client_tabs1 .ui-button:active,
#client_tabs1 .ui-button:focus,
#client_tabs1 .ui-button.ui-state-active:hover {
    border: 1px solid #e8a12c;
    background: #e8a12c;
    outline: none;
    border-bottom-width: 0;
}

#client_tabs1 .ui-state-default,
#client_tabs1 .ui-widget-content {
    background: #fff;
}

#client_tabs1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {}

.create-customer ul li > a {
    padding: 15px;
}

#client_tabs1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    line-height: normal;
}

#client_tabs1 .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e8a12c;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.view-main-section #client_tabs1 {
    background: transparent;
    border: none;
}

.view-main-section #email_text,
.view-main-section #social_media {
    background: #fff;
    padding-top: 22px;
}


/** Footer **/
.main-footer {
    margin-left: 0;
    background-color: #E8A12C;
     text-align: center;
}

.main-footer strong {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}



/*new css*/

.main-header .logo {
    margin-top: 0;
}


.skin-black .main-header .navbar .nav > .active > a,
.skin-black .main-header .navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #444;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
    line-height: 23px;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a i {
    vertical-align: middle;
}

.main-header .logo {
    height: 53px;
}

.skin-black .main-header .logo:hover {
    background-color: #7b7b7b;
}

.dataTables_length label,
.dataTables_filter label {
    font-size: 13px;
    color: #333;
    font-weight: 600 !important;
}

table.dataTable thead th,
table.dataTable thead t,
table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}

.table-bordered > tbody > tr > td {
    font-weight: normal;
    font-size: 13px;
    color: #6f6d6d;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered {
    border: 1px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 15px;
}

table.dataTable tbody th:last-child > a,
table.dataTable tbody td:last-child > a {
    padding: 0 8px;
    line-height: 0;
    margin: 0;
}

.main-footer a {
    color: #fff;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    margin-top: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #e8a12c;
    border-color: #e8a12c;
    color: #fff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #e8a12c;
    border-color: #e8a12c;
}

.breadcrumb > .active a {
    color: #eaa22c;
}
.admin-user {
    padding: 40px 0;
}
.main-header .logo {
    width: auto;
}

.form-group.rit-padingbox .form-control {
    padding-right: 35px;
}

.form-group.rit-padingbox {
    position: relative;
}

.form-group.rit-padingbox i {
    position: absolute;
    right: 10px;
    z-index: 999;
}


.form-group.inline-iconsbox {
    position: relative;
}

.form-group.inline-iconsbox i {
    position: absolute;
    right: 16px;
    top: 26px;
    background-color: #e8a12c;
    width: 33px;
    height: 33px;
    display: block;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.form-group.inline-iconsbox i.remove {
    top: 0;
}
.form-group.inline-iconsbox .icheckbox_square-yellow {
    margin-right: 7px;
}
.table.table-striped td a.btn-lg,.table.table-striped td form {
    display: inline-block;
}

.table.table-striped td form button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ff0000;
}

.table.table-striped td a.btn-lg {
    font-size: 20px;
    color: #e8a12c;
}

.defalt-btbox-div a {
    background-color: #e9a22a;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 14px;
}

.defalt-btbox-div a:hover {
    background: #010101;
}
.box.add-padbox {
    padding: 15px;
}
.forgot_pass a {
    text-align: center;
    display: block;
    margin-top: 5px;
}
.box.add-padbox .form-group label.error {
    display: block;
    width: 100%;
}
.box.add-padbox .form-group label.error.ckeditor_error {
    float: none !important;
}
#profile-image-upload-error {
    text-align: center;
}
.breadcrumb li i {
  position: relative;
  top: 3px;
}
/*30-3-20*/

.box-header.with-border img{
    width: 90%;
}
a{
    color: #000;
}
a:hover{
    color: #E8A12C;
}

.defalt-btbox-div a{
    
    margin: 0 10px 14px 0;
    border-radius: 5px;     
}
.defalt-btbox-div span{
    display: inline-block;
    margin: 0;
    
}

.defalt-btbox-div span h1{
    margin: 0 0 20px 0;
    font-size: 28px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_processing{
    float: left;
}

div.dataTables_wrapper div.dataTables_filter{
    float: right;
}

.btn-faith {
    margin: 22px 0 0 0;
}
/*1-04*/
.login-box{
    background:#fff !important;
    width: 500px !important
}
a h3:hover, a h3:active, a h3:focus{
    color: #E8A12C !important;
}
a:active, a:focus {
    color:#E8A12C !important
}
table.dataTable tbody th:last-child > a:hover{
    background: #E8A12C !important;
    color: #000 !important;
    transform: none;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child{
    padding-left: 0 !important;
}
div.dataTables_wrapper div.dataTables_filter{
    float: right !important;
}
.deletebtn , .editbtn {
    border-radius: 5px;
}
.skin-black .main-header li.user-header{
    background: #000; 
}
.login-box-body .checkbox{
       text-align: left;
    width: 70%;
    float: right;
}
.box-body h1 , .box-body a h3{
    text-align: center;
}
.add-padbox .form-group label , .add-padbox .select2-container{
   text-align: left;
 
}
.add-padbox .btn-faith{
    float: left;
    margin-top: 20px;
    margin-bottom: 21px;
}
.add_address_btn:hover , .import_addresses_btn:hover , .add_address_btn:focus ,.add_address_btn:active ,.import_addresses_btn:active ,.import_addresses_btn:focus {
   background:#000;
   color: #E8A12C; 
}
.no-footer .dataTables_filter{
  float: left !important;
}
.spark-screen .row .col-xs-12{
        margin-left: 0;
}
.spark-screen .form-control{
    margin:0 auto;
}
.skill_sec {
    display: flex;
    justify-content: flex-end;
}
.spark-screen .defalt-btbox-div a{
  float: right;
}
.defalt-btbox-div span{
    display: flex;
    justify-content: flex-end;     
}
div.table-responsive > div.defalt-btbox-div div[class^="col-"]:last-child{
    padding-right: 0;
}
/*-30 May-*/
th.sorting:nth-child(6):after {
    /*content: none!important;*/
}
th.th_disable {
    pointer-events: none;
}
th.th_disable:after {
    content: none !important;
}
li.dropdown.open ul.dropdown-menu {
    background-color: #000;
    border-color: #000;
    border-width: 1px;
}
li.dropdown.open ul.dropdown-menu li {
    padding: 5px;
}
li.dropdown.open ul.dropdown-menu>li>a{
    color: #fff;
}
li.dropdown.open ul.dropdown-menu>.active>a{
    background-color: transparent;
    color: #E8A12C;
}
li.dropdown.open ul.dropdown-menu>li>a:hover{
    background-color: transparent;
    color: #E8A12C;
}

/*-1June-*/
.invitation_page .form-group.invitation_btns a.back_btn {
    /*float: right;*/
}
.invitation_page .col-lg-12 {
    /*text-align: center;*/
}


/*-07-07-2021-*/
div#datepicker {
    border: 1px solid #ccc;
}

div#datepicker .datepicker.datepicker-inline {
    background-color: #fff;
    width: 100%;
    max-width: 352px;
    padding: 0;
}

div#datepicker .datepicker.datepicker-inline table {
    width: 100%;
    border: none;
}

div#datepicker .datepicker.datepicker-inline table thead {}

div#datepicker .datepicker.datepicker-inline table thead th {
    padding: 15px 5px;
    font-weight: 400;
}

div#datepicker .datepicker.datepicker-inline table tbody td{
    padding: 15px 5px;
    width: 50px;
    height: 50px;
    transition: 0.3s ease-in-out;
}

div#datepicker .datepicker.datepicker-inline table tbody td.active,
div#datepicker .datepicker.datepicker-inline table tbody td:hover,
div#datepicker .datepicker.datepicker-inline .datepicker-months tbody td span:not(.disabled).active,
div#datepicker .datepicker.datepicker-inline .datepicker-years tbody td span:not(.disabled).active {
    border-radius: 50%;
    font-weight: 700;
    background-color: #006eff !important;
    color: #fff;
}

div#datepicker .datepicker.datepicker-inline table tbody td.active:hover,
div#datepicker .datepicker.datepicker-inline .datepicker-months tbody td span.active:not(.disabled):hover,
div#datepicker .datepicker.datepicker-inline .datepicker-years tbody td span.active:not(.disabled):hover{
    color: #c5deff;
    background-color: #006eff !important;
}

div#datepicker .datepicker.datepicker-inline table tbody td:hover,
div#datepicker .datepicker.datepicker-inline .datepicker-months tbody td span:not(.disabled):hover,
div#datepicker .datepicker.datepicker-inline .datepicker-years tbody td span:not(.disabled):hover {
    background-color: #c5deff !important;
    border-radius: 50%;
    color: #006eff;
    font-weight: 700;
}

div#datepicker .datepicker.datepicker-inline .datepicker-months tbody td span.disabled,
div#datepicker .datepicker.datepicker-inline .datepicker-years tbody td span.disabled,
div#datepicker .datepicker.datepicker-inline table tbody td.disabled{
    pointer-events: none;
}

div#datepicker .datepicker.datepicker-inline .datepicker-months tbody td span,
div#datepicker .datepicker.datepicker-inline .datepicker-years tbody td span{
    border-radius: 4px !important;
    font-weight: 400;
}

div#datepicker .datepicker.datepicker-inline .datepicker-months tbody td:hover,
div#datepicker .datepicker.datepicker-inline .datepicker-years tbody td:hover {
    background-color: transparent !important;
    color: #333;
}

div#datepicker .datepicker.datepicker-inline table thead th.prev,
 div#datepicker .datepicker.datepicker-inline table thead th.next {
    font-size: 15px;
    transition: color 0.3s ease-in-out;
}

div#datepicker .datepicker.datepicker-inline table thead th.prev:hover,
 div#datepicker .datepicker.datepicker-inline table thead th.next:hover {
    color: #006eff;
}


form.bookslot {
    padding-top: 10px;
}

form.bookslot .row {
    margin: 0;
}

form.bookslot .col-lg-12 {
    padding-top: 20px;
}

form.bookslot .col-lg-12 + .col-lg-12 {
    padding-top: 5px;
}

form.bookslot .col-lg-12 + .col-lg-12 .form-group {}

form.bookslot .col-lg-12 + .col-lg-12 .form-group button,
 form.bookslot .col-lg-12 + .col-lg-12 .form-group button + a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid;
}

form.bookslot .col-lg-12 + .col-lg-12 .form-group button + a{
    margin-left: 20px;
    text-decoration: none !important;
}

form.bookslot .col-lg-12 + .col-lg-12 .form-group button,
.all_contractor .table-responsive .defalt-btbox-div button#hire_contractor{
    border: 1px solid #e9a22a;
    background-color: #e9a22a;
    color: #fff;
}

form.bookslot .col-lg-12 + .col-lg-12 .form-group button:hover,
.all_contractor .table-responsive .defalt-btbox-div button#hire_contractor:hover{
    background: #000;
    color: #E8A12C;
}


div#UserTable_wrapper {}

div#UserTable_wrapper .col-sm-12 {
    overflow-x: auto;
}

div#UserTable_wrapper table#UserTable {}

div#UserTable_wrapper table#UserTable thead {}

div#UserTable_wrapper table#UserTable thead tr {}

div#UserTable_wrapper table#UserTable thead tr th:nth-last-child(3),
 div#UserTable_wrapper table#UserTable tbody tr td:nth-last-child(3) {
    width: 80px;
    min-width: 60px;
    max-width: 100px;
    word-break: break-word;
}

div#UserTable_wrapper table#UserTable tbody tr td{}

div#UserTable_wrapper table#UserTable .toggle-group label.btn.btn-lg {
    padding: 5px;
    font-size: 14px;
}

div#UserTable_wrapper table#UserTable .toggle-group label.btn.toggle-off {
    text-align: right;
}

div#UserTable_wrapper table#UserTable .toggle-group label.btn.toggle-on {
    text-align: left;
}

div#UserTable_wrapper table#UserTable tbody tr td a.editbtn {
    padding: 0 !important;
    height: auto;
    line-height: normal;
    display: inline-block;
    padding: 5px 10px 3px !important;
}

.all_contractor .table-responsive .defalt-btbox-div{
    text-align: right;
}

.all_contractor .table-responsive .defalt-btbox-div .col-xs-6 {
    width: 100%;
}

.all_contractor .table-responsive .defalt-btbox-div button#hire_contractor {
    padding: 9px 15px;
}

.all_contractor .table-responsive .defalt-btbox-div a.add_address_btn {
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 20px;
}

.schedule_date .box-body {
    max-width: 380px;
    margin: 0 auto;
}

.box.edit_box {
    padding: 30px 15px 15px !important;
}

.box.edit_box form#myform {}

.box.edit_box form#myform .col-lg-3 {}

.box.edit_box form#myform .col-lg-3 .col-lg-12 {
    padding: 0;
}

.box.edit_box form#myform .col-lg-3 > a {
    display: inline-block;
    margin-bottom: 15px;
}

.box.edit_box form#myform .col-lg-3 p {}

.box.edit_box form#myform .col-lg-3 p.meeting_time {
    font-size: 18px;
}

.box.edit_box form#myform .col-lg-3 p[style="color: green;"] {
    color: #00b56a !important;
}

.box.edit_box form#myform .col-lg-3 p i {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}

.box.edit_box form#myform .col-lg-3 p:not(.meeting_time) b {
    font-weight: 600;
}

.box.edit_box form#myform .col-lg-3 .col-lg-12 textarea#notes {
    resize: vertical;
    width: 100%;
}

div#exampleModal .modal-header #exampleModalLabel {
    max-width: calc(100% - 25px);
    display: inline-block;
    vertical-align: middle;
}

div#exampleModal .modal-header #exampleModalLabel + button.close {
    margin-top: 0;
}

.modal-open .modal .btn-primary{
    border: 1px solid #e9a22a;
    background-color: #e9a22a;
    color: #fff;
}

.modal-open .modal .btn-primary:hover{
    background: #000;
    color: #E8A12C;
}

.box.edit_box .form-group.btn-right .btn-faith {
    float: none;
    margin: 0;
    display: inline-block;
}

.box.edit_box .form-group.btn-right {
    text-align: right;
    padding-right: 30px;
    margin-top: 20px;
}

.box.edit_box .form-group.btn-right .btn-faith.back_btn {
    margin-left: 15px;
}

.md-form.time_picker .row {
    margin: 5px 00;
    display: flex;
    align-items: center;
}

.bottom_btn_group button + a.add_address_btn {
    margin-top: 0;
    display: inline-block;
    vertical-align: initial;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.42857143;
}

.md-form.time_picker .row > div {
    padding: 0;
}

.md-form.time_picker .row > div.col-lg-2 {
    text-align: center;
}

/*-07-2021-*/
form.bookslot .col-lg-12.time_slots {
    padding-bottom: 20px;
}

form.bookslot .time_slots .slots {
    position: relative;
    margin-bottom: 10px;
}

form.bookslot .time_slots .slots input[type=radio] {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

form.bookslot .time_slots .slots input[type=radio] + label {
    display: block;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    color: #000;
    background-color: #006eff;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

form.bookslot .time_slots .slots input[type=radio]:hover + label {
    background-color: #77b2ff;
    color: #fff;
}

form.bookslot .time_slots .slots input[type=radio]:checked + label {
    background-color: #006eff;
    color: #fff;
}



/*responsive*/
@media(max-width:991px){
    section.content-header ol.breadcrumb {
        right: 0;
    }
    .content{
        padding-left: 0px;
        padding-right: 0px;
    }
    .skin-black .content-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .invitation_detail_page .row {
        margin-left: 0px;
        margin-right: 0;
    }
}

@media(max-width:767px){
    .profile-page {
        margin-bottom: 30px;
    }
    .dataTables_wrapper.form-inline {
        margin-top: 20px;
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
        position: static;
    }

    .invitation_page div.dataTables_wrapper div.dataTables_length select {
        margin-left: 18px;
    }
    .invitation_page div.dataTables_wrapper div.dataTables_length select,
     .invitation_page div.dataTables_wrapper div.dataTables_filter input {
        margin-top: -6px;
    }

    .hidden-xs {
        display: inline-block !important; 
    }
    .invitation_page .col-lg-12 {
        /*text-align: center;*/
    }
}

/*26-3-20*/
.lblsuccess{
    background-color: #4CAF50 !important;
     color: white;
  padding: 2px 8px;
  border-radius: 5px;
  line-height: 2;
}
.lbldanger{
    background-color: #f44336 !important;
     color: white;
  padding: 8px;
  border-radius: 5px;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3C8DBC !important;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #ffffff !important;
 }
 .login_logo{
        width: 500px;
 }
 .login-page, .register-page{
    background: #ffffff;
 }
 .login-box-body, .register-box-body{
    width: 500px;
    padding: 0px;
    border: 1px solid #d2d6de;
    margin: 0 auto;
    color: #666;
 }
 .login-box{
    width: 500px;
 }
 .login_btn{
    color: #000;
    width: 100px;
    border-radius: 5px;
 }
 .login_btn:hover{
    color: #fff !important;
 }

 .forgot_pass{
    padding-top: 17px;
 }
 .skin-black .main-header .navbar{
    background-color: #000;
 }
 .skin-black .main-header .navbar .nav > li > a{
    color: #fff;
 }
 .skin-black .main-header .navbar .nav > li > a:hover, .skin-black .main-header .navbar .nav > li > a:active, .skin-black .main-header .navbar .nav > li > a:focus, .skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav .open > a:hover, .skin-black .main-header .navbar .nav .open > a:focus, .skin-black .main-header .navbar .nav > .active > a{
    background: #000;
    color: #fff;
 }
 .skin-black .main-header .logo{
    background: #000;
 }
 .dashboard_logo{
    width: 170px !important;
 }
/*.login-box{
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
    background-color: grey;
 }
 .form-control{
    width: 350px;
 }*/
 .login-box-body form{
    padding: 34px 40px 10px;
 }
.logintxt{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #d2d6de;
}
/*.row .col-xs-12 {
    width: 100%;
    text-align: center;
    margin-left: -14px;
}*/
.row .col-xs-7 {
    width: 23.333333%;
    margin-left: 124px;
}
.login-box-body .form-control {
    height: 40px;
    display: inline-block;
    width: 70%;
    float: right;
    border-radius: 5px;
}
.editbtn {
   font-size: 13px;
    color: #000;
    width: 50px;
    padding: 12px !important;
    background-color: #e8a12c;
    height: 25px;
    text-align: center; 
    display: inline-block;
}
.editbtn:hover{
    color: black;
}
.deletebtn {
    font-size: 13px;
    color: #fff;
    width: 50px;
    padding: 12px !important;
    background-color: red;
    height: 25px;
    text-align: center; 
    display: inline-block;
}       .password_field {
    float: right;
    margin: 10px 0 0 0;
    position: absolute;
    right: 40px;
    top: 22px;
}

#profile-image {
    position: relative;
    width: 164px;
    height: 164px;
    max-height: 160px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 34px;
}

#profile_pic_div {
    width: 100%;
    height: 100%;
    background-size: contain;
    /* border-radius: 50%; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#change-picture {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(12, 13, 14, 0.6);
    border: 0;
    border-radius: 0 0 3px 3px;
    color: #FFF;
    text-align: center;
    padding: 8px 0;
    width: auto;
    transition: background .3s ease;
}

.skill_sec a{
    margin-right: 15px !important;
}
.skill_sec a:active, .skill_sec a:focus{
    background: #000 !important;
    color: #e9a22a;
}
    

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    body {
        overflow-x: hidden;
    }
}

/** Component **/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fafbfe;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

.c_l {
    clear: left;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.cf:after,
.cf:before {
    display: table;
    content: ''
}

.cf:after {
    clear: both;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: #e9a22a;
    text-align: center;
}

.asterisk,
label.error {
    color: #f00 !important;
}

label.error {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    float: left !important;
}

td,
th {
    padding: 10px;
}

/*
table th {
    background-color: #e9a22a;
    color: #fff;
}

.datepicker-days table th {
    background-color: #fff;
    color: #000;
}


table tr td {
    vertical-align: middle;
}

.form-control:focus {
    border-color: #e9a22a;
    box-shadow: none;
}
*/


/*css*/

.head {
    text-align: center;
}

.logo {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.logo img {
    vertical-align: middle;
    max-width: 500px;
}

.form {
    padding: 25px 15px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -moz-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -ms-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -o-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
}

/*
.form-control {
    border: 0;
    border-bottom: 1px solid #CCC;
}
*/


/*
.change label {
    color: #e9a22a;
}
*/


/*
table .form-control {
    border: 1px solid #ccc;
}

.form-group label {
    float: right;
}
*/

.asterisk {
    float: right;
    display: inline-block;
}

.form-content {
    margin-top: 20px;
}


.form-content p {
    margin: 0 0 20px;
    line-height: 26px;
}

.form-content p .form-control {
    width: auto;
    display: inline-block;
    height: 25px;
    border-bottom: 2px solid #e9a22a;
}



.input-group .input-group-addon {
    background-color: #eee;
    width: 70px;
}

.btn-faith {
    padding: 10px 25px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #e9a22a;
    background-color: #e9a22a;
    color: #fff;
    border-radius: 0;
}

.btn-faith:hover,
.btn-faith:focus:active,
.btn-faith:hover:focus {
    background-color: #010101;
    border: 1px solid #010101;
    outline: none;
}

.remark label {
    float: left;
}

.signature-pad {
    border: 1px solid #ccc;
}

.btn.btn-faith {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

strong {
    font-family: 'Poppins', sans-serif !important;
}


.main-section {
    padding: 15px;
    background-color: #fff;
}

.content-wrapper,
.main-footer,
.main-header .navbar {
    margin-left: 0;
}

.main-footer {
    background-color: #E8A12C;
}



/*keenn-css*/


/** Main Content **/
.box {
    border-color: #e8a12c;
}

.content-wrapper {
    margin-left: 0;
}

.table-wrapper {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.main-section {
    padding: 15px;
    background-color: #fff;
}

.main-section > a:first-child {
    margin: 4px 10px;
}

.content-header {
    display: inline-block;
    width: 100%;
    padding: 15px 30px 0;
}

.content-header > .breadcrumb {
    right: 30px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/** End **/

/** Table **/
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    vertical-align: middle;
    padding: 10px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_processing {
    margin-bottom: 12px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 15px;
    color: #333;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 4px 5px;
    border: 1px solid #ddd;
}

table.dataTable tbody th:last-child > a,
table.dataTable tbody td:last-child > a {
    display: inline-block;
    width: auto;
    margin: 0 3px 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

table.dataTable tbody th:last-child > a:hover,
table.dataTable tbody td:last-child > a:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transform: none;
}
table.dataTable tbody td:last-child > a:hover ,table.dataTable tbody td:last-child > a:active , table.dataTable tbody td:last-child > a:focus {
    color: #fff !important;
}
/** Table action icon **/
.fa-eye::before,
.fa-question::before,
.fa-edit::before,
.fa-remove::before {
    display: none;
    content: '';
}

.fa-edit::after,
.fa-eye::after,
.fa-question::after,
.fa-remove::after {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../img/icon-edit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
}

.fa-eye::after {
    background-image: url('../img/icon-eye.png');
}

.fa-question::after {
    background-image: url('../img/icon-qus-edit.png');
}

.fa-remove::after {
    background-image: url('../img/icon-delete.png');
}

/* End */

/** Paginate **/
.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button {
    padding: 2px 10px;
    border: none !important;
    background: #444 !important;
    color: #fff !important;
}

.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    color: #fff !important;
}

.main-section .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.create-customer {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    box-shadow: none;
}

.form-group .datepicker {
    height: 34px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
    background: #E8A12C !important;
}

.input-group-addon:first-child {
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

span.validateError {
    position: absolute;
    top: auto;
    left: 15px;
    bottom: -18px;
    color: #f00;
    font-size: 12px;
}

.row-item {
    margin-bottom: 20px;
}

#social_media .sub-row-item,
#email_text .sub-row-item,
#no_profit .sub-row-item {
    margin-bottom: 20px;
}

.label-item > label {
    font-weight: normal;
}

.row-item > label,
.sub-row-item label {
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.row-item label a {
    color: #3d92e8;
    font-weight: 600;
    text-decoration: underline;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.row-item label a:hover {
    color: #e8a12c;
}

.row-item > input {
    font-weight: normal;
    font-size: 13px;
}

.sub-row-item input {
    width: 100%;
    padding: 6px 5px;
    border: 1px solid #ddd;
    font-weight: normal;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.social_checkbox label.input-label {
    display: inline-block;
    width: auto;
    margin-right: 25px;
    vertical-align: middle;
    line-height: normal;
}

.social_checkbox label.input-label input {
    margin-top: -3px;
    margin-right: 6px;
    vertical-align: middle;
}

.sub-row-item input,
.row-item > input,
#client_tabs1 {
    font-family: 'Poppins-Regular' !important;
}

#client_tabs1 .ui-state-active,
#client_tabs1 .ui-widget-content .ui-state-active,
#client_tabs1 .ui-widget-header .ui-state-active,
#client_tabs1 a.ui-button:active,
#client_tabs1 a.ui-button:focus,
#client_tabs1 a.ui-tabs-anchor:focus,
#client_tabs1 a.ui-tabs-anchor:active,
#client_tabs1 .ui-button:active,
#client_tabs1 .ui-button:focus,
#client_tabs1 .ui-button.ui-state-active:hover {
    border: 1px solid #e8a12c;
    background: #e8a12c;
    outline: none;
    border-bottom-width: 0;
}

#client_tabs1 .ui-state-default,
#client_tabs1 .ui-widget-content {
    background: #fff;
}

#client_tabs1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {}

.create-customer ul li > a {
    padding: 15px;
}

#client_tabs1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    line-height: normal;
}

#client_tabs1 .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e8a12c;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.view-main-section #client_tabs1 {
    background: transparent;
    border: none;
}

.view-main-section #email_text,
.view-main-section #social_media {
    background: #fff;
    padding-top: 22px;
}


/** Footer **/
.main-footer {
    margin-left: 0;
    background-color: #E8A12C;
}

.main-footer strong {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}



/*new css*/

.main-header .logo {
    margin-top: 0;
}


.skin-black .main-header .navbar .nav > .active > a,
.skin-black .main-header .navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #e9a22a;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
    line-height: 23px;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a i {
    vertical-align: middle;
}

.main-header .logo {
    height: 53px;
}

.skin-black .main-header .logo:hover {
    background-color: #7b7b7b;
}

.dataTables_length label,
.dataTables_filter label {
    font-size: 13px;
    color: #333;
    font-weight: 600 !important;
}

table.dataTable thead th,
table.dataTable thead t,
table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}

.table-bordered > tbody > tr > td {
    font-weight: normal;
    font-size: 13px;
    color: #6f6d6d;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered {
    border: 1px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 15px;
}

table.dataTable tbody th:last-child > a,
table.dataTable tbody td:last-child > a {
    padding: 0 8px;
    line-height: 0;
    margin: 0;
}

.main-footer a {
    color: #fff;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    margin-top: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #e8a12c;
    border-color: #e8a12c;
    color: #fff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #e8a12c;
    border-color: #e8a12c;
}

.breadcrumb > .active a {
    color: #eaa22c;
}
.admin-user {
    padding: 40px 0;
}
.main-header .logo {
    width: auto;
}

.form-group.rit-padingbox .form-control {
    padding-right: 35px;
}

.form-group.rit-padingbox {
    position: relative;
}

.form-group.rit-padingbox i {
    position: absolute;
    right: 10px;
    z-index: 999;
}


.form-group.inline-iconsbox {
    position: relative;
}

.form-group.inline-iconsbox i {
    position: absolute;
    right: 16px;
    top: 26px;
    background-color: #e8a12c;
    width: 33px;
    height: 33px;
    display: block;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.form-group.inline-iconsbox i.remove {
    top: 0;
}
.form-group.inline-iconsbox .icheckbox_square-yellow {
    margin-right: 7px;
}
.table.table-striped td a.btn-lg,.table.table-striped td form {
    display: inline-block;
}

.table.table-striped td form button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ff0000;
}

.table.table-striped td a.btn-lg {
    font-size: 20px;
    color: #e8a12c;
}

.defalt-btbox-div a {
    background-color: #e9a22a;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 14px;
}

.defalt-btbox-div a:hover {
    background: #010101;
}
.box.add-padbox {
    padding: 15px;
}
.forgot_pass a {
    text-align: center;
    display: block;
    margin-top: 5px;
}
.box.add-padbox .form-group label.error {
    display: block;
    width: 100%;
}
.box.add-padbox .form-group label.error.ckeditor_error {
    float: none !important;
}
#profile-image-upload-error {
    text-align: center;
}
.breadcrumb li i {
  position: relative;
  top: 3px;
}
/*30-3-20*/

.box-header.with-border img{
    width: 90%;
}
a{
    color: #000;
}
a:hover{
    color: #E8A12C;
}

.defalt-btbox-div a{
    
    margin: 0 10px 14px 0;
    border-radius: 5px;     
}
.defalt-btbox-div span{
    display: inline-block;
    margin: 0;
    
}

.defalt-btbox-div span h1{
    margin: 0 0 20px 0;
    font-size: 28px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_processing{
    float: left;
}

div.dataTables_wrapper div.dataTables_filter{
    float: right;
}

.btn-faith {
    margin: 22px 0 0 0;
}
/*26-3-20*/
.lblsuccess{
    background-color: #4CAF50 !important;
     color: white;
  padding: 2px 8px;
  border-radius: 5px;
}
.lbldanger{
    background-color: #f44336 !important;
     color: white;
  padding: 8px;
  border-radius: 5px;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3C8DBC !important;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #ffffff !important;
 }
 .login_logo{
        width: 500px;
 }
 .login-page, .register-page{
    background: #ffffff;
 }
 .login-box-body, .register-box-body{
    width: 500px;
    padding: 0;
    border: 1px solid #d2d6de;
    margin: 0 auto;
    
 }
 .login-box{
    width: 500px;
 }
 .login_btn{
    color: #000;
    width: 100px;
    border-radius: 5px;

 }
 .login_btn:hover{
    color: #fff !important;
 }

 .forgot_pass{
    padding-top: 17px;
 }
 .skin-black .main-header .navbar{
    background-color: #000;
 }
 .skin-black .main-header .navbar .nav > li > a{
    color: #fff;
 }
 .skin-black .main-header .navbar .nav > li > a:hover, .skin-black .main-header .navbar .nav > li > a:active, .skin-black .main-header .navbar .nav > li > a:focus, .skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav .open > a:hover, .skin-black .main-header .navbar .nav .open > a:focus, .skin-black .main-header .navbar .nav > .active > a{
    background: #000;
    color: #fff;
 }
 .skin-black .main-header .logo{
    background: #000;
 }
 .dashboard_logo{
    width: 170px !important;
 }
 .login-page{
    overflow: hidden;
 }
/*.login-box{
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
    background-color: grey;
 }
 .form-control{
    width: 350px;
 }*/
 .login-box-body form{
    padding: 21px 40px 10px;
 }
.logintxt{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #d2d6de;
}
/*.row .col-xs-12 {
    width: 100%;
    text-align: center;
    margin-left: -14px;
}*/
.row .col-xs-7 {
    width: 23.333333%;
    margin-left: 124px;
}
.login-box-body .form-control {
    height: 30px;
    display: inline-block;
    width: 70%;
    float: right;
    border-radius: 5px;
  
}
.editbtn {
   font-size: 13px;
    color: #000;
    width: 50px;
    padding: 12px !important;
    background-color: #e8a12c;
    height: 25px;
    text-align: center; 
    display: inline-block;
}
.editbtn:hover{
       background: #000 !important;
    color: #E8A12C !important; 
    
}
.editbtn:active , .editbtn:focus{
    color: #000 !important;
    
}
.deletebtn {
    font-size: 13px;
    color: #fff;
    width: 50px;
    padding: 12px !important;
    background-color: red;
    height: 25px;
    text-align: center; 
    display: inline-block;
}       
.deletebtn:hover , .deletebtn:active ,.deletebtn:focus{
    
    color: #fff !important;
    transform: none !important;
}
.dropdown-menu{
    margin-top: 1px !important;
}


/*1-04*/
.login-box{
    background:#fff !important;
    width: 500px !important;
    margin-top: 30px;
}
a h3:hover, a h3:active, a h3:focus{
    color: #E8A12C !important;
}
a:active, a:focus {
    color:#E8A12C !important
}
table.dataTable tbody th:last-child > a:hover{
    background: #E8A12C !important;
    color: #000 !important;
    transform: none;
}
.login-logo{
        margin-bottom: 15px;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child{
    padding-left: 0 !important;
}
div.dataTables_wrapper div.dataTables_filter{
    float: right !important;
}
.deletebtn , .editbtn {
    border-radius: 5px;
}
.skin-black .main-header li.user-header{
    background: #000; 
}
.login-box-body .checkbox{
       text-align: left;
    width: 70%;
    float: right;
}
 .add-padbox .select2-container {
    text-align: left;
    width: 100% !important;
}
.box-body h1 , .box-body a h3{
    text-align: center;
}
.add-padbox .form-group label , .add-padbox .select2-container{
   text-align: left;
 
}
.add-padbox .btn-faith{
    float: left;
    margin-top: 20px;
    margin-bottom: 21px;
    border-radius: 5px;
}
.add_address_btn:hover , .import_addresses_btn:hover , .add_address_btn:focus ,.add_address_btn:active ,.import_addresses_btn:active ,.import_addresses_btn:focus {
   background:#000;
   color: #E8A12C; 
}
.no-footer .dataTables_filter{
  float: left !important;
}
.spark-screen .row .col-xs-12{
        margin-left: 0;
}
.spark-screen .form-control{
    margin:0 auto;
}
.skill_sec {
    display: flex;
    justify-content: flex-end;
}
.spark-screen .defalt-btbox-div a{
  float: right;
}
.defalt-btbox-div span{
    display: flex;
    justify-content: flex-end;     
}
div.table-responsive > div.defalt-btbox-div div[class^="col-"]:first-child{
    padding-right: 0;
    padding-left: 0;
  
}
.reset_pwd .login-box-msg {
    padding-top: 20px;
    padding-bottom: 0;
}
.reset_pwd  form{
    padding-top: 0 !important;
}
.reset_pwd  .form-control{
 height: 40px !important;
    width: 100% !important;
    margin-bottom: 15px;
}
.reset_pwd  .btn-faith{
    width: 85%;
    margin:0 auto;
    margin-bottom: 10px; 
    text-align: center;
}
.reset_pwd  .btn-faith:hover ,.reset_pwd  .btn-faith:active ,.reset_pwd  .btn-faith:focus{
    color: #E8A12C;
    background: #000;
}
.back_btn{
    margin-left: 10px;
}
.box-body h1{
    color: #000;
}
.box-body a h3{
    font-size: 20px;
}
.contractor_modal input.btn-faith.addnewskill {
    margin-top: 0;
    border-radius: 5px;
}
  .icheckbox_square-yellow, .iradio_square-yellow{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(yellow.png) no-repeat !important;
    border: none;
    cursor: pointer;
    }
    .icheckbox_square-yellow.checked {
       background-position: -48px 0 !important;
    }
 .invitation_page .tot_con span{
    font-weight: 400;
 }  
 .invitation_page .type_con label{
    font-weight: 400;
 }
 .type_text textarea{
    width: 100%;
    border:1px solid #aaa;
 }
 .invitation_btns .btn-faith{
    padding-left: 10px;
    padding-right: 10px;
 }
 /*17/04/20*/

 .content .col-lg-6:nth-child(5) {
    border-bottom: 1px solid #dcdcdc;
}
.content .col-lg-6:nth-child(4) {
    border-bottom: 1px solid #dcdcdc;
}
.content .col-lg-6:nth-child(6) {
    margin-top: 15px;
}
.content .col-lg-6:nth-child(7) {
    margin-top: 15px;
}

/*17/04/20*/
i.fa.fa-bars {
    display: none;
}
/*20/04/20*/
 table.dataTable.no-footer {
    border: 1px solid #ddd;
}
    /*responsive*/
@media(max-width:1199px){
    .add-padbox .btn-faith{
        margin-top: 0px;
        margin-bottom: 0;
    }
    .add-padbox .form-group{
        display: inline-block !important;
        width: 100% !important;
   }
    .content .col-lg-6:nth-child(4) {
        border-bottom:none;
    }
    .content .col-lg-6:nth-child(7) {
        margin-top: 0px;
    }
    .content .col-lg-6:nth-child(6) {
    margin-top: 20px;
}
  
}
@media(max-width:991px){
    section.content-header ol.breadcrumb {
        right: 0;
    }
    .content{
        padding-left: 0px;
        padding-right: 0px;
    }
    .skin-black .content-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    textarea{
        width: 100%;
    }
  
    /*.content-header{
        display: none;
    }*/
    .dropdown-menu {
    margin-top: -3px !important;
   }
  
   .dataTables_wrapper.form-inline{
    padding-left: 10px;
    padding-right: 10px;
   }
   
  .dropdown-menu{
    right: 0% !important;
  }
  table#UserTable{
    overflow-x: scroll;
  }
 /* a.editbtn{
    margin-bottom: 5px;
  }*/
  ol.breadcrumb {
    display: none;
}
.editbtn {
    margin-bottom: 5px !important;
}
 .content .col-lg-6:nth-child(4) {
        border-bottom:none;
    } 

    /*-30may-*/
    div#UserTable_wrapper .col-sm-12 {
        overflow: hidden;
        overflow-x: scroll;
    }    
}

@media(max-width:767px){
    .profile-page {
        margin-bottom: 30px;
    }
    .dataTables_wrapper.form-inline {
        margin-top: 20px;
    } 
    .defalt-btbox-div span h1 {
    margin: 0 0 20px 0;
    font-size: 22px;
   }
   div.table-responsive > div.defalt-btbox-div div[class^="col-"]:last-child{
    padding-left: 0;
   }
   div.table-responsive > div.defalt-btbox-div div[class^="col-"] a:last-child{
    margin-right: 10px;                
   }
   .all_contractor div.dataTables_wrapper div.dataTables_length select , .all_contractor div.dataTables_wrapper div.dataTables_filter input{
     margin-top: -6px;
   }
   div.table-responsive > div.defalt-btbox-div div[class^="col-"]:last-child{
    margin-bottom: 10px;
   }
   .all_contractor div.dataTables_wrapper div.dataTables_length select{
    margin-left: 18px;
   }
   .defalt-btbox-div a {
        margin: 0 10px 5px 0;
        border-radius: 5px;
        font-size: 11px;
        margin-bottom: 10px;
   }
   .defalt-btbox-div span {
    display: flex;
    justify-content: center;
  }
  .all_contractor .defalt-btbox-div .col-xs-6{ 
         width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .all_contractor .defalt-btbox-div .col-xs-6:last-child{
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
   }
   .editbtn{
    margin-bottom: 5px !important;
   }
   .skill_sec{
    margin-top: 10px !important;
   }
   .all_contractor div.table-responsive > div.defalt-btbox-div div[class^="col-"]:first-child{
    padding-top: 15px;
   }
   .skill_page div.dataTables_wrapper div.dataTables_length select{
    margin-top: -6px;
   }
   .skill_page div.dataTables_wrapper div.dataTables_filter input{
    margin-top: -5px
   }
   div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0 5px;
        white-space: nowrap;
    }
    /*Mobile menu*/
    .navbar-custom-menu {
        position: absolute;
        right: 0;
        top:100%;
        width: 100%;
    }
    .navbar-custom-menu ul{
        width: 100%;
    }
    .navbar-custom-menu ul li{
        display: block;
        width: 100%;
        border-bottom: 1px solid black;
    }
    .navbar-custom-menu ul li a{
        padding: 15px 15px !important;
        line-height: normal !important;
        max-width: 100%;
    }
    .navbar-custom-menu .navbar-nav {
        display: none;
        background-color: #E8A12C;
    }
    i.fa.fa-bars {
        display: block;
        float: right;
        font-size: 35px;
        position: relative;
        right: 10px;
        top: 10px;
        color: white;
    }
    .navbar-custom-menu .navbar-nav li a {
        max-width:  100% !important;
    }
    .navbar-custom-menu .navbar-nav li {
        max-width:  100% !important;
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
        width: 100%;
    }
    .navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
        z-index: 5;
        height: 60px;
        width: 60px;
    }
    .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
        height: 120px;
    }
    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
        /* padding-left: 0; */
        padding: 0 0 0 0;
    }
}
@media(max-width:575px){
    .box-body h1 {
    color: #000;
    font-size: 28px;
   }
   .login_logo {
    width: 342px;
   }
   .login-box-body, .register-box-body {
      width: 397px;
   }
   .login-box-body .form-control{
    width: 100%;
   }
   .login-box-body .checkbox{
        width: 100%;
   }
   .login-box-body .row .col-xs-7 {
    width: 100% !important;
    margin-left: 0;
   }
   .login_btn{
    width: 100%;
   }
   .login-frm .row .col-xs-5{
    width: 100% !important;
   }
   .col-md-8.col-md-offset-2 .box {
        margin-top: 20px;
    }
    body.login-page .form-group.has-feedback label {
     	margin: 10px 0 10px; 
    }
}
@media(max-width:530px){
    div.dataTables_wrapper div.dataTables_filter {
    float: left !important;
    width: 100%;
    text-align: left;
   }
   .skill_page div.dataTables_wrapper div.dataTables_length select{
         margin-left: 18px;
   }
   .skill_page .defalt-btbox-div a{
          padding: 10px 49px;
   }
}

@media(max-width:479px){
    .box-body a h3{
    font-size: 16px;
    }
    .box-body h1 {
    color: #000;
    font-size: 20px;
   }
   .login-box-body form {
    padding: 34px 20px 10px;
   }
   .login-box {
    background: #fff !important;
    max-width: 333px !important;
    margin: 0 auto;
   }
   .login-box-body, .register-box-body {
       width: 333px;
    }
    .login_logo {
    max-width: 297px;
    margin: 0 auto;
   }
   .pagination>li>a, .pagination>li>span{
    font-size: 11px;        
   }
   .fa-edit::after, .fa-eye::after, .fa-question::after, .fa-remove::after{
    margin-top: 10px;
   }
   .add-padbox .form-group{
    margin-bottom: 10px;
   }
   .reset_pwd .col-xs-8{
       width: 100% !important;
   }
    div.dataTables_wrapper div.dataTables_filter{
    float: left !important;
   }
   .skill_secc a{
    margin-top: 10px;
   }
   .all_contractor .defalt-btbox-div .col-xs-6:last-child{
    justify-content: center;
   }
   .skill_page div.dataTables_wrapper div.dataTables_length select{
         margin-left: 18px;
   }
   .skill_page .defalt-btbox-div a{
          padding: 10px 49px;
   }
   .skill_page .skill_sec {
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
  }
  .login-box-body form{
        padding: 14px 20px 10px;
  }
  .login-box-body .form-control{
    margin:10px 0; 
  }
  .col-md-8.col-md-offset-2 .box {
    margin-top: 60px;
  }
  body.login-page .form-group.has-feedback label {
    margin: 0; 
  }
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
  }
  div.dataTables_wrapper div.dataTables_info{
    text-align: left;
  }

}  
@media(max-width:360px){
    .login_logo {
    width: 243px;
    margin-top: 10px;
   }
   .login-box-body, .register-box-body {
    max-width: 275px;
    margin: 0 auto;
   }
   .login-box {
    background: #fff !important;
    max-width: 268px !important;
    margin: 0 auto;
  }
  label{
    margin-top: 10px;
  }
  .login-box-body form{
    padding-top: 20px;
  }
  .defalt-btbox-div a{
    padding:10px; 
  }
  input[type=checkbox], input[type=radio]{
       margin: 14px 0 0;
  }
  /*-2may-*/
    label {
        margin-top: 0;
    }
    .invitation_page .box.add-padbox .col-lg-12 {
        margin-bottom: 5px;
    }
}
/*3-4-2020*/
.footer_text{
    color: #fff;
}
.footer_text:hover{
    color: #fff;
}
.footer_span_txt{
    color: #fff;
    font-size: 13px;
}
/*.deletebtn:hover {
    background: #000 !important;
}*/
.lbldanger{
 /*padding: 8px;*/
  padding: 2px 8px;
}

/*14-12-20 */
.box.add-padbox.pos-relative {
    position: relative;
}

.pgre-barbox.progrssbar-pos {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    left: 0px;
    top:0px;
    height: 100%;
    z-index: 9999;
}

.pgre-barbox.progrssbar-pos svg {
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.pgre-barbox.progrssbar-pos .pie_progress__svg {
    padding-bottom: 0;
    overflow: inherit;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
}

.pgre-barbox.progrssbar-pos .progressbar-circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    bottom: 0;
    margin: auto;
}

.pgre-barbox.progrssbar-pos span.progress__label {
    position: relative;
    z-index: 99;
    font-size: 15px;
    font-weight: bold;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /*z-index: 100;*/
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
height: 200px;
}