/* Class for clearing floats */
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.cf:after,.cf:before{display: table;content: ''}
.cf:after{clear: both;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}


.admin_login_background{
    background: #F3F3F4;
}
.admin_login_form{
    /*margin-top: 50px;*/
}
.loginerr{
    color: #FF0000;
}
.admin_logo{
    width: 200px;
    margin: auto;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
body.admin_login_background.pace-done .wrapper-content {
    padding: 90px 10px 40px;
}
body.admin_login_background.pace-done .wrapper.wrapper-content.animated.fadeInRight .col-lg-4 {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
}
.row.admin_login_form .ibox-content .form-horizontal .form-group .control-label {
        padding: 7px 28px 0 0px;
        font-size: 14px;
}
body.admin_login_background.pace-done  .ibox.float-e-margins{
    -webkit-box-shadow: 0px 1px 21px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 21px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 21px -6px rgba(0,0,0,0.5);
}

.ibox.float-e-margins .ibox-content {
    padding: 20px 40px 10px;
 }

.col-lg-offset-2.col-lg-10 .btn-primary {
    background-color: #8ebf25;
    border-color: #8ebf25;
    padding: 5px 20px;
    font-size: 14px;
}
button.btn.btn-sm.btn-primary.m-t-n-xs:hover {
    background-color: black;
}

 .form-group a.btn.btn-link:hover {
    color: #000000;
}

.nav-header .nav > li > a {
    border-bottom: 1px solid #6f6f6f;
}
.footer{
    text-align: center;
    font-size: 15px;
    color: #000000;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
        background-color: #2f4050;
}
table#DataTables_Table_0 .sorting{
    background-color: #2f4050;
    color: #fff;
}
table#DataTables_Table_0 .sorting_asc{
    color: #fff;
}
li.paginate_button.active a {
    background-color: #2f4050;
    color: white;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff2f2;
}
/*table#DataTables_Table_0 td:last-child {
    text-align: center;
}*/
.float-e-margins table#DataTables_Table_0 .btn {
    margin: 0 0px 5px;
}
.float-e-margins .btn-white {
    font-size: 15px;
    border: none;
    background:none !important;
    color: black; 
}
.float-e-margins .btn-danger {
    background: none !important;
    border: none;
    color: #ed5565;
    font-size: 15px;
}
form#roleForm textarea {
    width: 100%;
}
/*body.pace-done .col-sm-4.col-sm-offset-2 {
    margin-left: 25%;
 }*/

@media(max-width:1200px){

.row.admin_login_form .ibox-content .form-horizontal .form-group .control-label {
        padding: 7px 0px 0 14px;
        font-size: 14px;
    }
}
@media(max-width:575px){

.col-lg-offset-2.col-lg-10 .btn-primary {
    width: 100%;
}
.btn-link {
    display: block
}

}
@media(max-width:767px){
/*  body.pace-done .col-sm-4.col-sm-offset-2 {
        margin-left: 0;
    }*/
   
}