.password_field {
    float: right;
    margin: 10px 0 0 0;
    position: absolute;
    right: 40px;
    top: 22px;
}

#profile-image {
    position: relative;
    width: 164px;
    height: 164px;
    max-height: 160px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 34px;
}

#profile_pic_div {
    width: 100%;
    height: 100%;
    background-size: contain;
    /* border-radius: 50%; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#change-picture {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(12, 13, 14, 0.6);
    border: 0;
    border-radius: 0 0 3px 3px;
    color: #FFF;
    text-align: center;
    padding: 8px 0;
    width: auto;
    transition: background .3s ease;
}


@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    body {
        overflow-x: hidden;
    }
}

/** Component **/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fafbfe;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

.c_l {
    clear: left;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.cf:after,
.cf:before {
    display: table;
    content: ''
}

.cf:after {
    clear: both;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: #e9a22a;
    text-align: center;
}

.asterisk,
label.error {
    color: #f00 !important;
}

label.error {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    float: left !important;
}

td,
th {
    padding: 10px;
}

/*
table th {
    background-color: #e9a22a;
    color: #fff;
}

.datepicker-days table th {
    background-color: #fff;
    color: #000;
}


table tr td {
    vertical-align: middle;
}

.form-control:focus {
    border-color: #e9a22a;
    box-shadow: none;
}
*/


/*css*/

.head {
    text-align: center;
}

.logo {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.logo img {
    vertical-align: middle;
    max-width: 500px;
}

.form {
    padding: 25px 15px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -moz-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -ms-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -o-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
}

/*
.form-control {
    border: 0;
    border-bottom: 1px solid #CCC;
}
*/


/*
.change label {
    color: #e9a22a;
}
*/


/*
table .form-control {
    border: 1px solid #ccc;
}

.form-group label {
    float: right;
}
*/

.asterisk {
    float: right;
    display: inline-block;
}

.form-content {
    margin-top: 20px;
}


.form-content p {
    margin: 0 0 20px;
    line-height: 26px;
}

.form-content p .form-control {
    width: auto;
    display: inline-block;
    height: 25px;
    border-bottom: 2px solid #e9a22a;
}



.input-group .input-group-addon {
    background-color: #eee;
    width: 70px;
}

.btn-faith {
    padding: 10px 25px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #e9a22a;
    background-color: #e9a22a;
    color: #fff;
    border-radius: 0;
}

.btn-faith:hover,
.btn-faith:focus:active,
.btn-faith:hover:focus {
    background-color: #010101;
    border: 1px solid #010101;
    outline: none;
}

.remark label {
    float: left;
}

.signature-pad {
    border: 1px solid #ccc;
}

.btn.btn-faith {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

strong {
    font-family: 'Poppins', sans-serif !important;
}


.main-section {
    padding: 15px;
    background-color: #fff;
}

.content-wrapper,
.main-footer,
.main-header .navbar {
    margin-left: 0;
}

.main-footer {
    background-color: #E8A12C;
}



/*keenn-css*/


/** Main Content **/
.box {
    border-color: #e8a12c;
}

.content-wrapper {
    margin-left: 0;
}

.table-wrapper {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.main-section {
    padding: 15px;
    background-color: #fff;
}

.main-section > a:first-child {
    margin: 4px 10px;
}

.content-header {
    display: inline-block;
    width: 100%;
    padding: 15px 30px 0;
}

.content-header > .breadcrumb {
    right: 30px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/** End **/

/** Table **/
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    vertical-align: middle;
    padding: 10px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_processing {
    margin-bottom: 12px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 15px;
    color: #333;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 4px 5px;
    border: 1px solid #ddd;
}

table.dataTable tbody th:last-child > a,
table.dataTable tbody td:last-child > a {
    display: inline-block;
    width: auto;
    margin: 0 3px 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

table.dataTable tbody th:last-child > a:hover,
table.dataTable tbody td:last-child > a:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

/** Table action icon **/
.fa-eye::before,
.fa-question::before,
.fa-edit::before,
.fa-remove::before {
    display: none;
    content: '';
}

.fa-edit::after,
.fa-eye::after,
.fa-question::after,
.fa-remove::after {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../img/icon-edit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
}

.fa-eye::after {
    background-image: url('../img/icon-eye.png');
}

.fa-question::after {
    background-image: url('../img/icon-qus-edit.png');
}

.fa-remove::after {
    background-image: url('../img/icon-delete.png');
}

/* End */

/** Paginate **/
.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button {
    padding: 2px 10px;
    border: none !important;
    background: #444 !important;
    color: #fff !important;
}

.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.main-section .dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    color: #fff !important;
}

.main-section .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.create-customer {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    box-shadow: none;
}

.form-group .datepicker {
    height: 34px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
    background: #E8A12C !important;
}

.input-group-addon:first-child {
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

span.validateError {
    position: absolute;
    top: auto;
    left: 15px;
    bottom: -18px;
    color: #f00;
    font-size: 12px;
}

.row-item {
    margin-bottom: 20px;
}

#social_media .sub-row-item,
#email_text .sub-row-item,
#no_profit .sub-row-item {
    margin-bottom: 20px;
}

.label-item > label {
    font-weight: normal;
}

.row-item > label,
.sub-row-item label {
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.row-item label a {
    color: #3d92e8;
    font-weight: 600;
    text-decoration: underline;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.row-item label a:hover {
    color: #e8a12c;
}

.row-item > input {
    font-weight: normal;
    font-size: 13px;
}

.sub-row-item input {
    width: 100%;
    padding: 6px 5px;
    border: 1px solid #ddd;
    font-weight: normal;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.social_checkbox label.input-label {
    display: inline-block;
    width: auto;
    margin-right: 25px;
    vertical-align: middle;
    line-height: normal;
}

.social_checkbox label.input-label input {
    margin-top: -3px;
    margin-right: 6px;
    vertical-align: middle;
}

.sub-row-item input,
.row-item > input,
#client_tabs1 {
    font-family: 'Poppins-Regular' !important;
}

#client_tabs1 .ui-state-active,
#client_tabs1 .ui-widget-content .ui-state-active,
#client_tabs1 .ui-widget-header .ui-state-active,
#client_tabs1 a.ui-button:active,
#client_tabs1 a.ui-button:focus,
#client_tabs1 a.ui-tabs-anchor:focus,
#client_tabs1 a.ui-tabs-anchor:active,
#client_tabs1 .ui-button:active,
#client_tabs1 .ui-button:focus,
#client_tabs1 .ui-button.ui-state-active:hover {
    border: 1px solid #e8a12c;
    background: #e8a12c;
    outline: none;
    border-bottom-width: 0;
}

#client_tabs1 .ui-state-default,
#client_tabs1 .ui-widget-content {
    background: #fff;
}

#client_tabs1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {}

.create-customer ul li > a {
    padding: 15px;
}

#client_tabs1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    line-height: normal;
}

#client_tabs1 .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e8a12c;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.view-main-section #client_tabs1 {
    background: transparent;
    border: none;
}

.view-main-section #email_text,
.view-main-section #social_media {
    background: #fff;
    padding-top: 22px;
}


/** Footer **/
.main-footer {
    margin-left: 0;
    background-color: #E8A12C;
}

.main-footer strong {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}



/*new css*/

.main-header .logo {
    margin-top: 0;
}


.skin-black .main-header .navbar .nav > .active > a,
.skin-black .main-header .navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #444;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
    line-height: 23px;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a i {
    vertical-align: middle;
}

.main-header .logo {
    height: 53px;
}

.skin-black .main-header .logo:hover {
    background-color: #7b7b7b;
}

.dataTables_length label,
.dataTables_filter label {
    font-size: 13px;
    color: #333;
    font-weight: 600 !important;
}

table.dataTable thead th,
table.dataTable thead t,
table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}

.table-bordered > tbody > tr > td {
    font-weight: normal;
    font-size: 13px;
    color: #6f6d6d;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered {
    border: 1px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 15px;
}

table.dataTable tbody th:last-child > a,
table.dataTable tbody td:last-child > a {
    padding: 0 8px;
    line-height: 0;
    margin: 0;
}

.main-footer a {
    color: #fff;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    margin-top: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #e8a12c;
    border-color: #e8a12c;
    color: #fff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #e8a12c;
    border-color: #e8a12c;
}

.breadcrumb > .active a {
    color: #eaa22c;
}
.admin-user {
    padding: 40px 0;
}
.main-header .logo {
    width: auto;
}

.form-group.rit-padingbox .form-control {
    padding-right: 35px;
}

.form-group.rit-padingbox {
    position: relative;
}

.form-group.rit-padingbox i {
    position: absolute;
    right: 10px;
    z-index: 999;
}


.form-group.inline-iconsbox {
    position: relative;
}

.form-group.inline-iconsbox i {
    position: absolute;
    right: 16px;
    top: 26px;
    background-color: #e8a12c;
    width: 33px;
    height: 33px;
    display: block;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.form-group.inline-iconsbox i.remove {
    top: 0;
}
.form-group.inline-iconsbox .icheckbox_square-yellow {
    margin-right: 7px;
}
.table.table-striped td a.btn-lg,.table.table-striped td form {
    display: inline-block;
}

.table.table-striped td form button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ff0000;
}

.table.table-striped td a.btn-lg {
    font-size: 20px;
    color: #e8a12c;
}

.defalt-btbox-div a {
    background-color: #e9a22a;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 14px;
}

.defalt-btbox-div a:hover {
    background: #010101;
}
.box.add-padbox {
    padding: 15px;
}
.forgot_pass a {
    text-align: center;
    display: block;
    margin-top: 5px;
}
.box.add-padbox .form-group label.error {
    display: block;
    width: 100%;
}
.box.add-padbox .form-group label.error.ckeditor_error {
    float: none !important;
}
#profile-image-upload-error {
    text-align: center;
}
.breadcrumb li i {
  position: relative;
  top: 3px;
}

@media(max-width:991px){
    section.content-header ol.breadcrumb {
        right: 0;
    }
    .content{
        padding-left: 0px;
        padding-right: 0px;
    }
    .skin-black .content-header{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width:767px){
    .profile-page {
        margin-bottom: 30px;
    }
    .dataTables_wrapper.form-inline {
        margin-top: 20px;
    } 
}