@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    body {
        overflow-x: hidden;
    }
}

/** Component **/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fafbfe;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

.c_l {
    clear: left;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.cf:after,
.cf:before {
    display: table;
    content: ''
}

.cf:after {
    clear: both;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: #e9a22a;
    text-align: center;
}

.asterisk,
.error {
    color: #f00 !important;
}

.error {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    float: left !important;
}

td,
th {
    padding: 10px;
}

table th {
    background-color: #e9a22a;
    color: #fff;
}

.datepicker-days table th {
    background-color: #fff;
    color: #000;
}


table tr td {
    vertical-align: middle;
}

.form-control:focus {
    border-color: #e9a22a;
    box-shadow: none;
}


/*css*/

.head {
    text-align: center;
}

.logo {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.logo img {
    vertical-align: middle;
    max-width: 500px;
}

.form {
    padding: 25px 15px;
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -moz-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -ms-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    -o-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .45);
}

.form-control {
    border: 0;
    border-bottom: 1px solid #CCC;
}


.change label {
    color: #e9a22a;
}


table .form-control {
    border: 1px solid #ccc;
}

/*.form-group label {
    float: right;
}*/

.asterisk {
    /*float: right;*/
    display: inline-block;
}

.form-content {
    margin-top: 20px;
}


.form-content p {
    margin: 0 0 20px;
    line-height: 26px;
}

.form-content p .form-control {
    width: auto;
    display: inline-block;
    height: 25px;
    border-bottom: 2px solid #e9a22a;
}



.input-group .input-group-addon {
    background-color: #eee;
    width: 70px;
}

.btn-faith {
    padding: 10px 25px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #e9a22a;
    background-color: #e9a22a;
    color: #fff;
    border-radius: 0;
}

.btn-faith:hover,
.btn-faith:focus:active,
.btn-faith:hover:focus {
    background-color: #010101;
    border: 1px solid #010101;
    outline: none;
}

.remark label {
    float: left;
}

.signature-pad {
    border: 1px solid #ccc;
}

.btn.btn-faith {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}
strong {
    font-family: 'Poppins', sans-serif !important;
}
.tooltip-title {
    position: relative;
}
.data-text {
    position: absolute;
    left: 29px;
    top: -25px;
    visibility: hidden;
    font-size: 13px;
    width: 250px;
    padding: 5px;
    opacity: 0;
    border: 1px solid #000;
    z-index: 9;
    font-family: 'GTWalsheimRegular';
    background: #1e282c none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 0px;
    padding-top: 10px;
}
.tooltip-title:hover .data-text { visibility: visible; opacity: 1; }
i.fa.fa-info-circle {
    color: #e9a22a;
}