
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import '~bootstrap-daterangepicker/daterangepicker.scss';
@import '~bootstrap-colorpicker/src/sass/_colorpicker.scss';
@import '~bootstrap-timepicker/css/bootstrap-timepicker.css';
@import '~datatables.net-bs/css/dataTables.bootstrap.css';
@import "~toastr/toastr.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
